{% if include.pageurl != nil and include.pageurl != '' %}
    {% assign pageurl = include.pageurl %}
{% else %}
    {% assign pageurl = page.url %}
{% endif %}

<br>
<div align="center">
Improve this page:&nbsp;
<button class="btn btn-sm btn-primary" onclick=" window.open('https://github.com/caesarw0/caesarw0.github.io/blob/master/{{ page.relative_path }}','_blank')" value="Edit on GitHub">
  <small class="icon-github"></small> Edit on Github
</button>
<br>
<br>
Share on:
&nbsp;<button class="btn btn-sm btn-primary" onclick=" window.open('https://www.linkedin.com/sharing/share-offsite/?url={{ site.data.strings.website_url }}{{ page.url }}','_blank')" title="Share on LinkedIn">
  <small class="icon-linkedin2"></small> LinkedIn
</button>